@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Basement Grotesque Black';
  src: url('fonts/basement-grotesque-black.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Basement Grotesque Regular';
  src: url('fonts/basement-grotesque-regular.woff2') format('woff2'),
    url('fonts/basement-grotesque-regular.woff') format('woff');
  font-display: swap;
}

body {
  background: black;
  color: white;
}
